public/images/gallery/n8n-entreprise.json
{
  "name": "My workflow 6",
  "nodes": [
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        -576,
        0
      ],
      "id": "61012f63-083f-47f9-af3e-057e0abc542f",
      "name": "When clicking ‘Execute workflow’"
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "1UsX50zzqgFlkciwehIR_lMstyRqQZ25kkfzShJz0N14",
          "mode": "list",
          "cachedResultName": "Veille IA",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1UsX50zzqgFlkciwehIR_lMstyRqQZ25kkfzShJz0N14/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Feuille 1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1UsX50zzqgFlkciwehIR_lMstyRqQZ25kkfzShJz0N14/edit#gid=0"
        },
        "filtersUI": {
          "values": [
            {
              "lookupColumn": "Done",
              "lookupValue": "still"
            }
          ]
        },
        "options": {
          "returnFirstMatch": true
        }
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        -368,
        0
      ],
      "id": "773d2093-d97e-41fc-9c73-d70ac454f0ef",
      "name": "Get row(s) in sheet",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "EFPsjFWQ2X6Gb6dj",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json['Youtube/loom Link'] }}",
                    "rightValue": "tube",
                    "operator": {
                      "type": "string",
                      "operation": "contains"
                    },
                    "id": "f4ae3a65-88ab-4d8c-b4c6-efe5ad5345bc"
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "3bca5785-8142-40f6-ab99-ec817a51a517",
                    "leftValue": "={{ $json['Youtube/loom Link'] }}",
                    "rightValue": "loom",
                    "operator": {
                      "type": "string",
                      "operation": "contains"
                    }
                  }
                ],
                "combinator": "and"
              }
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.3,
      "position": [
        -144,
        0
      ],
      "id": "c3d78abf-1102-4457-8046-3182954f0e6a",
      "name": "Switch"
    },
    {
      "parameters": {
        "operation": "Run actor and get dataset",
        "actorId": {
          "__rl": true,
          "value": "GS3ePYC28oejQJ49C",
          "mode": "id"
        },
        "customBody": "={\n    \"url\": \"{{ $('Get row(s) in sheet').item.json['Youtube/loom Link'] }}\",\n    \"videoId\": \"57e37a60bce44aa0a7e974e37d2172f1\"\n}"
      },
      "type": "@apify/n8n-nodes-apify.apify",
      "typeVersion": 1,
      "position": [
        192,
        96
      ],
      "id": "b518b8bd-686a-4687-830b-e4bbc54093f5",
      "name": "Youtube transcribe1",
      "credentials": {
        "apifyApi": {
          "id": "wxSnSoS3h188fY1q",
          "name": "Apify account"
        }
      }
    },
    {
      "parameters": {
        "operation": "update",
        "documentId": {
          "__rl": true,
          "value": "1UsX50zzqgFlkciwehIR_lMstyRqQZ25kkfzShJz0N14",
          "mode": "list",
          "cachedResultName": "Veille IA",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1UsX50zzqgFlkciwehIR_lMstyRqQZ25kkfzShJz0N14/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Feuille 1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1UsX50zzqgFlkciwehIR_lMstyRqQZ25kkfzShJz0N14/edit#gid=0"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Youtube/loom Link": "={{ $('Get row(s) in sheet').item.json['Youtube/loom Link'] }}",
            "Transcription": "={{ $json.transcript }}"
          },
          "matchingColumns": [
            "Youtube/loom Link"
          ],
          "schema": [
            {
              "id": "Youtube/loom Link",
              "displayName": "Youtube/loom Link",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Transcription",
              "displayName": "Transcription",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Resume",
              "displayName": "Resume",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Done",
              "displayName": "Done",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "row_number",
              "displayName": "row_number",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "readOnly": true,
              "removed": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        672,
        -96
      ],
      "id": "b2502081-f931-484f-857d-32b216b63efb",
      "name": "Update row in sheet",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "EFPsjFWQ2X6Gb6dj",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "88de7f13-60b1-41c5-a6fc-ea28f61debde",
              "name": "transcript",
              "value": "={{ $json.transcript.slice(0,50000) }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        432,
        -96
      ],
      "id": "b6097cd8-c939-4f0a-a53c-f320b0709f30",
      "name": "Edit Fields"
    },
    {
      "parameters": {
        "operation": "update",
        "documentId": {
          "__rl": true,
          "value": "1UsX50zzqgFlkciwehIR_lMstyRqQZ25kkfzShJz0N14",
          "mode": "list",
          "cachedResultName": "Veille IA",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1UsX50zzqgFlkciwehIR_lMstyRqQZ25kkfzShJz0N14/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Feuille 1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1UsX50zzqgFlkciwehIR_lMstyRqQZ25kkfzShJz0N14/edit#gid=0"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Youtube/loom Link": "={{ $('Get row(s) in sheet').item.json['Youtube/loom Link'] }}",
            "Transcription": "={{ $json.transcript }}"
          },
          "matchingColumns": [
            "Youtube/loom Link"
          ],
          "schema": [
            {
              "id": "Youtube/loom Link",
              "displayName": "Youtube/loom Link",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Transcription",
              "displayName": "Transcription",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Resume",
              "displayName": "Resume",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Done",
              "displayName": "Done",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "row_number",
              "displayName": "row_number",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "readOnly": true,
              "removed": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        672,
        96
      ],
      "id": "41d16ebb-05c9-4cf2-988c-53af6a8b253d",
      "name": "Update row in sheet1",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "EFPsjFWQ2X6Gb6dj",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "88de7f13-60b1-41c5-a6fc-ea28f61debde",
              "name": "transcript",
              "value": "={{ $json.transcript.slice(0,50000) }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        432,
        96
      ],
      "id": "3e087f00-4a5a-4eb8-9241-aa3032671508",
      "name": "Edit Fields1"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=[Transcription]\n{{ $('Youtube transcribe').item.json.transcript }}",
        "options": {
          "systemMessage": "# Analyseur d'Automatisations à partir de Transcriptions Vidéo\n\n## OBJECTIF\nAnalyser la transcription fournie pour identifier UNIQUEMENT les cas d'usage d'automatisation mentionnés et les restituer sous forme de JSON structuré.\n\n## INPUT\n[Transcription] - Transcription complète de la vidéo\n\n## CONSIGNES STRICTES\n1. **FIDÉLITÉ ABSOLUE** : Pour les champs \"resume_automatisation\" et \"description_noeuds\", utilisez EXCLUSIVEMENT les informations présentes dans la transcription. N'ajoutez AUCUNE information externe.\n\n2. **VÉRIFICATION OBLIGATOIRE** : Après avoir rédigé chaque automatisation, relisez la transcription pour vérifier la conformité et corrigez si nécessaire.\n\n3. **STRUCTURE JSON REQUISE** :\n```json\n{\n  \"automatisations\": [\n    {\n      \"resume_automatisation\": \"Résumé concis basé strictement sur la transcription\",\n      \"description_noeuds\": \"Description extrêmement détaillée des nœuds/étapes mentionnés dans la transcription uniquement\",\n      \"suggestions_amelioration\": \"Suggestions d'optimisation et d'amélioration de l'automatisation\"\n    }\n  ]\n}\n```\n\n## INSTRUCTIONS DÉTAILLÉES\n\n### Pour \"resume_automatisation\" :\n- Maximum 2-3 phrases\n- Reprendre uniquement les termes et concepts mentionnés dans la transcription\n- Aucune interprétation ou ajout personnel\n\n### Pour \"description_noeuds\" :\n- Décrire en détail chaque étape/nœud mentionné dans la transcription\n- Inclure tous les paramètres, conditions, et configurations évoqués\n- Respecter l'ordre et la terminologie exacte utilisée dans la transcription\n- Si des détails techniques sont mentionnés, les reproduire fidèlement\n\n### Pour \"suggestions_amelioration\" :\n- Proposer des améliorations pertinentes basées sur les bonnes pratiques\n- Identifier les optimisations possibles\n- Suggérer des fonctionnalités complémentaires\n- Anticiper les cas d'erreur et la robustesse\n\n## PROCESSUS DE TRAVAIL\n1. Lire attentivement la transcription complète\n2. Identifier chaque cas d'automatisation mentionné\n3. Extraire les informations pour chaque champ\n4. **ÉTAPE DE VÉRIFICATION** : Relire la transcription et comparer avec votre output\n5. Corriger toute divergence ou information ajoutée\n6. Finaliser le JSON\n\n## OUTPUT ATTENDU\nRépondez UNIQUEMENT avec le JSON valide. Aucun texte d'accompagnement.\n\n---"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2.2,
      "position": [
        944,
        -96
      ],
      "id": "8ca3629f-cd34-4711-969b-8c33a495a51c",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "model": "anthropic/claude-sonnet-4",
        "options": {
          "responseFormat": "json_object"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenRouter",
      "typeVersion": 1,
      "position": [
        576,
        416
      ],
      "id": "539b52d3-bf2f-49a8-b23d-84dc26ca6d2e",
      "name": "OpenRouter Chat Model",
      "credentials": {
        "openRouterApi": {
          "id": "lsn1jQXQdgyEtf3W",
          "name": "OpenRouter account"
        }
      }
    },
    {
      "parameters": {
        "operation": "update",
        "documentId": {
          "__rl": true,
          "value": "1UsX50zzqgFlkciwehIR_lMstyRqQZ25kkfzShJz0N14",
          "mode": "list",
          "cachedResultName": "Veille IA",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1UsX50zzqgFlkciwehIR_lMstyRqQZ25kkfzShJz0N14/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Feuille 1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1UsX50zzqgFlkciwehIR_lMstyRqQZ25kkfzShJz0N14/edit#gid=0"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Youtube/loom Link": "={{ $('Youtube transcribe').item.json.url }}",
            "Resume": "={{ $json.output }}",
            "Done": "Done"
          },
          "matchingColumns": [
            "Youtube/loom Link"
          ],
          "schema": [
            {
              "id": "Youtube/loom Link",
              "displayName": "Youtube/loom Link",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Transcription",
              "displayName": "Transcription",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Resume",
              "displayName": "Resume",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Done",
              "displayName": "Done",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "row_number",
              "displayName": "row_number",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "readOnly": true,
              "removed": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        1360,
        -96
      ],
      "id": "17f6181d-2911-45d7-b38b-421f5b33561b",
      "name": "Update row in sheet2",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "EFPsjFWQ2X6Gb6dj",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=[Transcription]\n{{ $('Youtube transcribe').item.json.transcript }}",
        "options": {
          "systemMessage": "# Analyseur d'Automatisations à partir de Transcriptions Vidéo\n\n## OBJECTIF\nAnalyser la transcription fournie pour identifier UNIQUEMENT les cas d'usage d'automatisation mentionnés et les restituer sous forme de JSON structuré.\n\n## INPUT\n[Transcription] - Transcription complète de la vidéo\n\n## CONSIGNES STRICTES\n1. **FIDÉLITÉ ABSOLUE** : Pour les champs \"resume_automatisation\" et \"description_noeuds\", utilisez EXCLUSIVEMENT les informations présentes dans la transcription. N'ajoutez AUCUNE information externe.\n\n2. **VÉRIFICATION OBLIGATOIRE** : Après avoir rédigé chaque automatisation, relisez la transcription pour vérifier la conformité et corrigez si nécessaire.\n\n3. **STRUCTURE JSON REQUISE** :\n```json\n{\n  \"automatisations\": [\n    {\n      \"resume_automatisation\": \"Résumé concis basé strictement sur la transcription\",\n      \"description_noeuds\": \"Description extrêmement détaillée des nœuds/étapes mentionnés dans la transcription uniquement\",\n      \"suggestions_amelioration\": \"Suggestions d'optimisation et d'amélioration de l'automatisation\"\n    }\n  ]\n}\n```\n\n## INSTRUCTIONS DÉTAILLÉES\n\n### Pour \"resume_automatisation\" :\n- Maximum 2-3 phrases\n- Reprendre uniquement les termes et concepts mentionnés dans la transcription\n- Aucune interprétation ou ajout personnel\n\n### Pour \"description_noeuds\" :\n- Décrire en détail chaque étape/nœud mentionné dans la transcription\n- Inclure tous les paramètres, conditions, et configurations évoqués\n- Respecter l'ordre et la terminologie exacte utilisée dans la transcription\n- Si des détails techniques sont mentionnés, les reproduire fidèlement\n\n### Pour \"suggestions_amelioration\" :\n- Proposer des améliorations pertinentes basées sur les bonnes pratiques\n- Identifier les optimisations possibles\n- Suggérer des fonctionnalités complémentaires\n- Anticiper les cas d'erreur et la robustesse\n\n## PROCESSUS DE TRAVAIL\n1. Lire attentivement la transcription complète\n2. Identifier chaque cas d'automatisation mentionné\n3. Extraire les informations pour chaque champ\n4. **ÉTAPE DE VÉRIFICATION** : Relire la transcription et comparer avec votre output\n5. Corriger toute divergence ou information ajoutée\n6. Finaliser le JSON\n\n## OUTPUT ATTENDU\nRépondez UNIQUEMENT avec le JSON valide. Aucun texte d'accompagnement.\n\n---"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2.2,
      "position": [
        944,
        96
      ],
      "id": "f39df66f-9044-4dcf-bb7d-fbcec05112f9",
      "name": "AI Agent1"
    },
    {
      "parameters": {
        "operation": "update",
        "documentId": {
          "__rl": true,
          "value": "1UsX50zzqgFlkciwehIR_lMstyRqQZ25kkfzShJz0N14",
          "mode": "list",
          "cachedResultName": "Veille IA",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1UsX50zzqgFlkciwehIR_lMstyRqQZ25kkfzShJz0N14/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Feuille 1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1UsX50zzqgFlkciwehIR_lMstyRqQZ25kkfzShJz0N14/edit#gid=0"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Youtube/loom Link": "={{ $('Youtube transcribe').item.json.url }}",
            "Resume": "={{ $json.output }}",
            "Done": "Done"
          },
          "matchingColumns": [
            "Youtube/loom Link"
          ],
          "schema": [
            {
              "id": "Youtube/loom Link",
              "displayName": "Youtube/loom Link",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Transcription",
              "displayName": "Transcription",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Resume",
              "displayName": "Resume",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Done",
              "displayName": "Done",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "row_number",
              "displayName": "row_number",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "readOnly": true,
              "removed": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        1360,
        96
      ],
      "id": "baa4fd88-0e66-4dd6-8f45-fffb00845fae",
      "name": "Update row in sheet3",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "EFPsjFWQ2X6Gb6dj",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "content": "# Transcribe Youtube/Loom videos",
        "height": 704,
        "width": 1440,
        "color": 4
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -640,
        -160
      ],
      "id": "3a939c1d-3955-4683-862f-a0df259ea941",
      "name": "Sticky Note"
    },
    {
      "parameters": {
        "content": "# Resume",
        "height": 512,
        "width": 880,
        "color": 5
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        832,
        -160
      ],
      "id": "bbcee352-1865-42a7-9a11-4675f15f71db",
      "name": "Sticky Note1"
    },
    {
      "parameters": {
        "operation": "Run actor and get dataset",
        "actorId": {
          "__rl": true,
          "value": "dB9f4B02ocpTICIEY",
          "mode": "list",
          "cachedResultName": "YouTube Transcript Ninja ⚡️🥷⚡ (topaz_sharingan/Youtube-Transcript-Scraper-1)",
          "cachedResultUrl": "https://console.apify.com/actors/dB9f4B02ocpTICIEY/input"
        },
        "customBody": "={\n    \"includeTimestamps\": \"No\",\n    \"language\": \"Default\",\n    \"startUrls\": [\n        \"{{ $json['Youtube/loom Link'] }}\"\n    ]\n}"
      },
      "type": "@apify/n8n-nodes-apify.apify",
      "typeVersion": 1,
      "position": [
        192,
        -96
      ],
      "id": "7558b965-2650-45ee-8283-fe2dffabef69",
      "name": "Youtube transcribe",
      "credentials": {
        "apifyApi": {
          "id": "wxSnSoS3h188fY1q",
          "name": "Apify account"
        }
      }
    }
  ],
  "pinData": {
    "AI Agent1": [
      {
        "json": {
          "output": "```json\n{\n  \"automatisations\": [\n    {\n      \"resume_automatisation\": \"Automatisation de création de contenu copywriting utilisant un multimodèle (GPT-4, Grok, Claude, Perplexity) pour transformer un brouillon initial en article de blog de 600-900 mots bien structuré et percutant.\",\n      \"description_noeuds\": \"1. Webhook pour récupérer le draft content depuis la base de données Noco DB. 2. Génération d'un plan détaillé avec GPT-4 en utilisant un prompt système définissant un copywriter SEO senior. 3. Challenge du plan avec Grok pour identifier les éléments trop lisses ou ennuyants et proposer des améliorations incisives. 4. Création d'un plan détaillé V2 intégrant les remarques de Grok. 5. Module Perplexity Sonar Pro pour rechercher des informations, chiffres et données manquantes sur internet. 6. Rédaction finale de l'article avec Claude en utilisant le brouillon initial, le plan approuvé et les données trouvées. 7. Mise à jour de la colonne AI post content dans Noco DB avec l'article généré.\",\n      \"suggestions_amelioration\": \"Intégrer une automatisation de veille avec Exa search pour générer automatiquement des suggestions de drafts. Ajouter une fonctionnalité de génération d'images automatique avec la nouvelle API image de GPT. Créer des templates spécialisés selon le type de contenu (post LinkedIn, script YouTube, article de blog). Implémenter un système de scoring qualité du contenu généré. Ajouter une fonction d'A/B testing automatique des différents hooks proposés.\"\n    },\n    {\n      \"resume_automatisation\": \"Automatisation de génération de lead magnet créant un rapport complet de plus de 10000 mots à partir du contenu initial pour servir de ressource gratuite dans une stratégie d'acquisition sur les réseaux sociaux.\",\n      \"description_noeuds\": \"1. Webhook séparé pour déclencher la génération du rapport. 2. Génération d'un plan détaillé du rapport avec GPT-4 en tant qu'analyste journaliste data. 3. Recherche approfondie avec Perplexity Sonar Pro (200K tokens de contexte) pour collecter toutes les informations nécessaires au plan. 4. Rédaction de la première partie du rapport (5000 mots) avec prompt spécifique pour expert en rédaction de rapport. 5. Rédaction de la deuxième partie du rapport (5000 mots restants) en continuité. 6. Concaténation des deux parties et mise à jour de la colonne lead magnet dans Noco DB.\",\n      \"suggestions_amelioration\": \"Optimiser la gestion des tokens en divisant en plus de segments pour des rapports encore plus longs. Ajouter une fonctionnalité de génération automatique de visuels et graphiques pour illustrer les données. Implémenter un système de mise en forme automatique en PDF professionnel. Créer des templates de rapports selon différents secteurs d'activité. Ajouter une fonction de vérification des sources et fact-checking automatique.\"\n    },\n    {\n      \"resume_automatisation\": \"Automatisation de feedback permettant d'améliorer l'article généré en intégrant les retours utilisateur via un système de révision semi-automatique.\",\n      \"description_noeuds\": \"1. Saisie du feedback utilisateur dans la colonne feedback de la base de données. 2. Webhook pour déclencher l'automatisation de feedback. 3. Génération d'un nouveau plan détaillé intégrant les retours avec tous les éléments de contexte (draft, rapport complet, dernière version, feedback utilisateur). 4. Rédaction d'un nouvel article par Claude en mode storytelling prenant en compte le feedback. 5. Mise à jour de la colonne AI post content avec la version révisée.\",\n      \"suggestions_amelioration\": \"Implémenter une fonctionnalité de feedback vocal automatique avec transcription. Ajouter un système de tracking des modifications pour comparer les versions. Créer un scoring automatique de la qualité des améliorations apportées. Développer une interface de feedback plus intuitive avec suggestions prédéfinies. Intégrer un système d'apprentissage des préférences utilisateur pour des améliorations proactives.\"\n    }\n  ]\n}\n```"
        }
      }
    ]
  },
  "connections": {
    "When clicking ‘Execute workflow’": {
      "main": [
        [
          {
            "node": "Get row(s) in sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get row(s) in sheet": {
      "main": [
        [
          {
            "node": "Switch",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Switch": {
      "main": [
        [
          {
            "node": "Youtube transcribe",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Youtube transcribe1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "Update row in sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields1": {
      "main": [
        [
          {
            "node": "Update row in sheet1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Youtube transcribe1": {
      "main": [
        [
          {
            "node": "Edit Fields1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update row in sheet": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenRouter Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          },
          {
            "node": "AI Agent1",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "Update row in sheet2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent1": {
      "main": [
        [
          {
            "node": "Update row in sheet3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update row in sheet1": {
      "main": [
        [
          {
            "node": "AI Agent1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Youtube transcribe": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "d175e9f1-2ceb-4b16-ab0c-859bd4ac4160",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "9573961d5c5d4de8f908a2ab2bdfe6e1535d580beb504a2f8d97ff644730ae5c"
  },
  "id": "GqnlZpLeWd4pSkBg",
  "tags": []
}